body {
    background-color: rgb(54, 54, 54);
}
.images {
    max-width:100%;
    height:600px;
}
img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.images img:not(.active) {
    display: none;
}
